.footer {
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: #000066;
  }

  .imagelogo{
    width: 250px;
    height: 200px;
    object-fit: fill;
    padding-left: 300px;
    
    }